/* Home --header */
.home-header {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.home-header::after {
    position: absolute;
    content: "";
    background-image: url("../images/xd-asset/bg-btm.png");
    background-size: cover;
    display: inline-block;
    width: 394px; 
    height: 280px;    
    bottom: 0px;
    right: 0px;    
    z-index: -2;
}

.top-header {
    width: 100%;
    height: 50px;
}

.top-header a {
    box-sizing: border-box;
    padding-top: 15px !important;

    font-size: 14px;
    font-family: Arial;
}

.top-nav {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.top-nav .row {
    padding-top: 11px;
}

.home-carousel-header {
    position: relative;
}

.menu-top-nav {
    cursor: pointer;
}

.slide-header {
    position: relative;
    width: 100%;
    min-height: 400px;
    top: 0;
    left: 0;
}

.slide-img-size {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);
}

.text-image-header {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.text-image-header::after {
    content: "";
    position: absolute;
    width: 284px;
    height: 323px;
    background-color: #B2FCFF;
    top: 50%;
    left: 75%;
    z-index: -2;
    transform: translate(-50%, -50%);
}

.text-image-header::before {
    content: "";
    position: absolute;
    background-image: url("../images/xd-asset/dots.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 0%;
    left: 0%;
    z-index: -2;
    transform: translate(-50%, -50%);
}

.text-image-header h3 {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: bold;
}

.slide-next {
    position: absolute;
    top: 55%;
    right: 10%;
    z-index: 5;
}

.arrow-left {
    margin-right: 15px;
}

.arrow-right {
    margin-right: 12px;
}

.slide-next::before {
    content: "";
    position: absolute;
    top: -25%;
    right: 10%;
    width: 40px;
    height: 40px;
    background-color: rgb(109, 109, 109);
    border-radius: 100px;
    z-index: -1;
}

.slide-prev {
    position: absolute;
    top: 55%;
    right: 42%;
    z-index: 5;
}

.slide-prev::before {
    content: "";
    position: absolute;
    top: -25%;
    right: -10%;
    width: 40px;
    height: 40px;
    background-color: dimgray;
    border-radius: 100px;
    z-index: -1;
}

.slide-header {
    display: none;
}

.fade-slider {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .indicators {
      position: absolute;
      right: 10%;
      /* bottom: 10%; */
      z-index: 5;
  }

  .indicator {
      cursor: pointer;
  }

  .indicator:hover {
      color: #2A2929;
  }

  .indicators span {
      padding-right: 2em;
      color: #B4B4B4;
  }

  .indicators span.active {
      font-weight: bold;
      color: #2A2929;
      padding-right: 3.5em;
  }

  .indicators span.active::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 50px;
      bottom: 0;
      background-color: #2A2929;
  }

  .more-product {
      position: absolute;
      bottom: 0;
  }

  .side-nav {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgb(62,100,240);  
    background: linear-gradient(180deg, rgba(62,100,240,1) 0%, rgba(178,252,255,1) 100%);
    top: 0;
    left: -300px;
    transition: .5s ease-in-out;
    z-index: 1005;
  }

  .side-nav .social-media {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .side-nav-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .close-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);  
  }

  .top-nav {
    overflow: hidden;
    background-color: #ffffff;
    transition: .5s;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  }
/* End Home --header */

.clients {
    width: 100%;
    height: 237px;
    box-sizing: border-box;
}

.title-client {
    position: relative;
    float: left;
    width: 20%;
    height: 237px;
    text-align: center;
    background-color: #B2FCFF;
}

.title-client h3 {
    position: absolute;
    font-family: lora;
    font-size: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-client {
    position: relative;
    float: right;
    width: 80%;
    height: 237px;
    background-color: #ffffff;
}

.card-size {
    width: 100%;
    min-height: 237px;
}

.bg-border-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid #B2FCFF;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-border-circle::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-color:  #B2FCFF;
    border-radius: 50%;
    top: -5%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.bg-border-circle::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color:  #B2FCFF;
    border-radius: 50%;
    top: 10%;
    left: 3%;
    transform: translate(-50%, -50%);
}

.client-img {
    position: absolute;
    width: 100px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cb::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color:  #3E64FF;
    border-radius: 50%;
    top: 25%;
    left: 36%;
    transform: translate(-50%, -50%);
}

/* home-about */
.home-about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 50px 0;
}

.wrap-text {
    position: absolute;
    width: 50%;
    height: auto;
    top: 160px;
    opacity: 0;
    transition: 1s;    
}

.wrap-text h3 {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: #7F7F7F;
}

.wrap-text p {
    font-family: Arial;
    font-size: 16px;
    font-weight: regular;
    color: #9b9b9b;
}

.rectangle {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 350px;
    left: 60px;
    background-color: #B2FCFF;
}

.rectangle::after {
    content: "";
    background-image: url('../images/xd-asset/dot1.png');
    background-size: cover;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -40%;
    left: -40%;
    z-index: -1;
}

.wrap-img-about {
    position: absolute;
    top: 320px;
    right: 140px;
    opacity: 0;
    transition: 1s;
}

.wrap-img-about::after {
    content: "";
    position: absolute;
    width: 384px;
    height: 384px;
    top: -66px;
    right: -200px;
    background-color: #ECFCFF;
    z-index: -1;
}

.wrap-img-about img {
    width: 500px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
/* End home-about */

/* Home Address */
.home-address {
    position: relative;
    width: 100%;
    height: 450px;
    min-height: auto;
    padding: 50px 0;
}

.bg-home-address {
    position: absolute;
    width: 100%;
    top: 100px;
    height: auto;
}

/* End Home Address */

/* Quote */
.quote {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.wrap-quote {
    position: absolute;
    width: 830px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3E64FF;
}

.quote-img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #3E64FF;
    background-color: #ffffff;
}

.center-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text {
    position: absolute;
    padding: 86px 145px;
    text-align: center;
}

.quote-text p {
    font-family: Georgia;
    font-size: 40px;
    font-weight: normal;
}

.call-now {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End Quote */


/* Footer */
.footer {
    position: relative;
    width: 100%;
    background-color: #3E64FF;
}

.wrap-footer {
    width: 100%;
    padding: 60px 20px;
}

.footer .col-12 .wrap-footer {
    width: 100%;
    height: auto;
    padding: 40px 20px;
}

.logo-footer {
    width: 80px;
}

.footer-title {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 12px;
}

.footer-content {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.end-footer {
    height: 40px;
    background-color: aqua;
}
/* End Footer */